.dessert-contents-wrapper {
  position: relative; /* Tambahkan wadah relatif */
  display: flex;
  flex-direction: column; /* Atur arah kolom */
  align-items: center;
  margin-top: 120px;
  min-height: 100vh;
  font-family: Nunito;
}

.dessert-contents-wrapper h1 {
  font-family: Cookie;
  font-size: 35px;
  color: rgb(234, 155, 10);
  margin-bottom: 20px;
}

.dessert-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  max-width: 80%;
  animation: fadeIn 3s;
}

.card-listDessert {
  flex: 0 1 calc(33.33% - 20px); /* Biarkan konten makanan menyesuaikan lebar wadah */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 35px;
  margin-bottom: 100px;
}

.card-listDessert-img-top {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
}

.card-listDessert-title {
  color: black;
  font-size: 24px;
  font-weight: 600px;
  margin-bottom: 15px;
}

footer {
  background-color: #173334;
  text-align: center;
  padding: 30px;
  margin-top: 100px;
  font-size: 25px;
  font-weight: 900;
}

footer p {
  margin-right: 90%;
  color: gold;
  font-family: cursive;
  text-align: start;
}

footer h1 {
  margin-right: 50%;
  margin-top: 10px;
  text-align: start;
  color: white;
  font-size: 15px;
  font-family:'Trebuchet MS';
}
  
